# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log
*.idb
*.pdb
*.db
grassdx11/GrassDX11/.vs/GrassDX11/v16/.suo
*.opendb
*.ipch
*.db-shm
*.db-wal
*.ilk
*.cso
GrassDX11/x64/
GrassDX11/Release/
GrassDX11/Debug/
GrassDX11/Release/
GrassDX11/x64/
DirectXTex/Bin/
DirectXTK/Bin/
DirectXTK/DirectXTK_Desktop_2019_Win10.vcxproj.user
DXUT/Core/Bin/
DXUT/Optional/Bin/
DXUT/Optional/DXUTOpt_2017_Win10.vcxproj.user
Effects11/Bin/
Effects11/Effects11_2019_Win10.vcxproj
Effects11/Effects11_2019_Win10.vcxproj.user
Effects11/Effects11_2019_Win10.vcxproj
Effects11/Effects11_2019_Win10.vcxproj
.vs